@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
}

html {
  scroll-behavior: smooth;
  background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora), sans-serif;
}